.gradient-background {
  background: linear-gradient(300deg, #5e718a, #07254d, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}

#dogIphone{
  border-radius: 10%;
}

.btn{
  border-color: aliceblue;
}

.btn-primary{
  background: aliceblue;
  color: #000;
}

.btn-outline-secondary{
  color: aliceblue;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

#testimonial{
  background: #f7f7f7;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
}

.col-lg-6{
  font-size: 20px;
}

.text-bg-black{
  background-color: #000;
  color: #fff;
}

.border-black{
  color: #000;
}

.btn-white{
  background: #fff;
  color: #000;
  border-color: #000;
}

.btn-white:hover{
  background: #000;
  color: #fff;
}

.btn-black{
  background: #000;
  color: #fff;
}

.btn-black:hover{
  background: #1a1919;
  color: #fff;
}

#footer{
  background: linear-gradient(300deg, #5e718a, #07254d, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  height: 100%;
}